:root{
    --primary-color: #663367;
    --secondary-color:#C6C628;
    --accent-color:#38BFC3;
    --dark-color:#0a1f44;
    --background-color:#f7f9fc;
    --heading-color:#0F5395;
}

body{
    margin: 0;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a1f44;
    padding: 15px 30px;
    color: white;
    gap: 5px;

    /*Sticky logic*/
    position: absolute;
    top: 0;
    width: 90%;
    background: transparent;
    z-index: 1000;
}
/* =========================
   DROPDOWN
========================= */

.dropdown {
    position: relative;
}

/* Dropdown Toggle */
.dropdown-toggle {
    display: flex;
    align-items: center;
    gap:2px;
    cursor: pointer;
    font-weight: 500;
    color:white;
    font-size: 16px;
    font-weight: bolder;
    line-height: 1;
}
.dropdown-toggle:hover{
    color: var(--accent-color);

}
.dropdown-wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
}
/* Unstyled Button specifically for the arrow click */
.arrow-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Rotate Arrow (Ensure display inline-block so transform works) */
.arrow {
    display: inline-block;
    transition: 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}

/* =========================
   DROPDOWN MENU
========================= */

.dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    width: 260px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
    padding: 15px 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s ease;
    z-index: 1000;
}

/* Show Menu */
.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
/* Dropdown Links */
.dropdown-menu li a {
    display: block;
    padding: 14px 22px;
    color: #0a1f44;
    text-decoration: none;
    transition: 0.3s ease;
}
/* Hover Effect */
.dropdown-menu li a:hover {
    background: #f4f8ff;
    color: #00bfff;
}
.logo{
    font-size: 10px;
    font-weight: bold;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    
    
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}
.nav-links a:hover{
    color: #00bfff;
}
.hamburger{
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
@media (max-width:768px){
/* show hamburger */
    .hamburger{
        display: block;

    }
    /* Hide menu initially */
    .nav-links{
        display: none;
        position: absolute;
        top: 80px;
        right: 0;

        background-color: rgba(10, 31, 68, 0.95);

        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }
     /* Show menu when active */
    .nav-links.active {
        display: flex;
    }
}
.hero{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: white; 
    /*Standardize background behavior so JS only needs to change the URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /*  Smooth fade between images */
    transition: background-image 1s ease-in-out;
}
.courses-hero{
    height: 80vh;
    background-image: url('images/image11.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.courses-cont h2{
    text-align: left;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(7, 28, 68, 0.3);
}
.hero-content{
    position: relative;
    z-index: 2;
}
.hero-content h2{
    font-size: 40px;
    margin-bottom: 15px;
}
.hero-content h4{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.hero-buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    

}
a{
    text-decoration: none;
    color: white;
}
.btn{
    padding: 12px 20px;
    background-color:var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bolder;


}
.btn:hover{
    background-color: white;
    color: var(--primary-color);
}
.primary{
    background-color: var(--primary-color);
}
.white{
    background: white;
    color:var(--primary-color);
}
.white:hover{
    background-color: var(--primary-color);
    color: white;
}
.arrow{
    margin-left: 8px;
    transition: 0.3s;
}
.purpose{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    gap: 50px;
    background-color: var(--background-color);  
}
.text{
    flex: 1;
}
.image{
    flex: 1;
}
.purpose img{
    width: 100%;

}
.purpose h2{
    color: var(--primary-color);
    font-size: 30px;
}
.purpose p{
    font-size: 16.4px;
}
.purpose h5{
    font-size: 20px;
    color: var(--accent-color);
}
.learn{
    margin-top: auto;
    width: 45%;
}
.learn:hover{
    background-color: var(--primary-color);
    color: white;
}
.learne:hover{
    background-color: var(--primary-color);
    color: white;
}
/* =========================
   PROGRAMS SECTION
========================= */
.courses{
    margin-top: 5px;
    padding: 5px 8%;
    background-color:white;
}

.programs-section {
    padding: 10px 8%;
    background-color:white;
}
.advanced{
    background-color: var(--dark-color);
}


/* =========================
   SECTION TITLE
========================= */

.section-title {
    text-align: center;
    margin-bottom: 10px;
}

.section-title h5 {
    color:var(--accent-color);
    font-size: 18px;
    
}

.section-title h3 {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 600;
}
.section-title h4{
    text-align: left;
    color: var(--heading-color);
    font-size: 26px;
}

/* =========================
   GRID CONTAINER
========================= */

.program-cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 35px;
}

/* =========================
   INDIVIDUAL CARD
========================= */


.program-card {
    display: flex;
    flex-direction: column;
    background: white;
    overflow: hidden;
    transition: all 0.3s ease;
}


/* Hover Animation */


/* =========================
   IMAGE
========================= */

.program-img {
    overflow: hidden;
}

.program-img img {
    width: 100%;
    height: 240px;
    object-fit: cover; 
}




/* =========================
   TEXT CONTENT
========================= */

.program-text {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.program-text h5 {
    font-size: 18px;
    color: var(--primary-color);
    margin: 16px 0px 10px;
}

.program-text p {
    color: #666;

    line-height: 1.8;

    margin-bottom: 30px;
}

/* =========================
   LINK
========================= */

.program-text a {
    text-decoration: none;

    color: white;

    font-weight: bold;

    font-size: 15px;

    
}

/* Hover Effect */
.program-text a:hover {
    color: white;
}
/* 
   TABLET RESPONSIVE */

@media (max-width: 992px) {

    .program-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 
   MOBILE RESPONSIVE
*/

@media (max-width: 768px) {

    .programs-section {
        padding: 80px 5%;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .program-cards {
        grid-template-columns: 1fr;
    }

    .program-text h3 {
        font-size: 22px;
    }
}
/* =========================
   IMPACT SECTION
========================= */

.impact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    padding: 40px 40px;
    background-color: var(--dark-color) ;
    height: 65vh;
}

/* =========================
   LEFT CONTENT
========================= */

.impact-content h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 30px;
}



/* =========================
   STATS GRID
========================= */

.impact-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    

}

/* Individual Stat */
.stat-box{


}

/* Numbers */
.stat-box h3 {
    color:#fff;
    font-size: 50px;
    
}

/* Text */
.stat-box p {
    color: #fff;
    font-size: 16px;
}

/* =========================
   IMAGE SECTION
========================= */

.impact-images {
    position: relative;

    height: 500px;
    margin: 10px;
}

/* Shared Image Styles */
.impact-images img {
    width: 340px;

    height: 240px; ;

    object-fit: cover;
    border: 13px solid white;

    

    
}

/* Back Image */
.image-one {
    position: absolute;

    width: 75%;

    height: 420px;

    top: 0;

    left: 0;
    transform: rotate(-8deg);
}

/* Front Tilted Image */
.image-two {
    position: absolute;

    width: 75%;

    height: 420px;

    bottom: 0;

    right: 0;
    transform: rotate(8deg);

   
}
/* =========================
   COMMUNITY SECTION
========================= */

.community-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    background-color: var(--background-color);
    align-items: center;
    padding: 40px 8%;
}

/* =========================
   LEFT SIDE
========================= */

.community-content h5 {
    color: #00bfff;

    text-transform: uppercase;

    letter-spacing: 2px;

    margin-bottom: 20px;
}

.community-content h2 {
    font-size: 30px;
    line-height: 1.3;
    color: var(--dark-color);
    margin-bottom: 10px;
}
.community-content h3 {
    
   color: #002a48;
}

.community-content p {
    color: #666;
    line-height: 1.8;
    margin-bottom: 35px;
}

/* =========================
   SMALL IMAGE GALLERY
========================= */

.community-gallery {
    display: flex;

    gap: 10px;

    margin-bottom: 35px;
}

.community-gallery img {
    width: 117px;

    height: 73px;

    object-fit: cover;

    border-radius: 15px;

    transition: 0.3s ease;
}

/* Hover Effect */
.community-gallery img:hover {
    transform: translateY(-8px);
}

/* =========================
   BUTTON
========================= */





/* =========================
   RIGHT IMAGE
========================= */

.community-image img {
    width: 100%;

    height: 380px;

    object-fit: cover;

    

    
}
/* =========================
   CTA SECTION
========================= */

.cta-section {

    height: 600px;

    width: 100%;

    display: flex;

    align-items: flex-end;

    /* Background Image + Gradient */
    background:
    linear-gradient(
        to top,
        rgba(10, 31, 68, 0.9),
        rgba(10, 31, 68, 0)
    ),
    url("images/image17.jpeg");

    background-size: cover;

    background-position: center;
    padding: 30px;
    height: 62vh;

    

    
}

/* =========================
   CONTENT CONTAINER
========================= */

.cta-content {

    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* =========================
   LEFT SIDE
========================= */

.cta-left {
    display: flex;

    align-items: center;

    gap: 10px;
}

/* Logo */
.cta-left img {
    width: 180px;
    height: 82px;
    object-fit: contain;
}

/* Title */
.cta-left h2 {
    color: white;
    font-size: 38px;
    max-width: 600px;
    line-height: 1.3;
}
/* =========================
   FOOTER SECTION
========================= */

.footer-section {

     background:
    linear-gradient(
        to right,
        rgba(5, 20, 50, 0.95),
        rgba(50, 20, 90, 0.85)
    ),

    url("images/image18.jpg");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    color: white;

    padding-top: 50px;
}

/* =========================
   FOOTER CONTAINER
========================= */

.footer-container {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 50px;

    padding: 0 8% 60px;
}
.footer-column img{
    width:206px ;
    height: 47px; 
}

/* =========================
   FOOTER HEADINGS
========================= */

.footer-column h2,
.footer-column h3 {

    margin-bottom: 15px;

    color:var(--accent-color);
}

/* Paragraph */
.footer-column p {

    color: #c7c7c7;

    line-height: 1.8;
}

/* =========================
   LISTS
========================= */

.footer-column ul {

    list-style: none;

    padding: 0;
}

.footer-column ul li {

    margin-bottom: 15px;

    color: #c7c7c7;
}

/* Links */
.footer-column ul li a {

    text-decoration: none;

    color: #c7c7c7;

    transition: 0.3s ease;
}

/* Hover */
.footer-column ul li a:hover {

    color: #00bfff;
}

/* =========================
   SOCIAL ICONS
========================= */

.social-icons {

    display: flex;

    gap: 15px;

    margin-top: 20px;
}

/* Icon Links */
.social-icons a {

    width: 45px;

    height: 45px;

    display: flex;

    align-items: center;

    justify-content: center;

    background: rgba(255,255,255,0.08);

    border-radius: 50%;

    color: white;

    text-decoration: none;

    transition: 0.3s ease;
}

/* Hover */
.social-icons a:hover {

    background: #00bfff;

    transform: translateY(-5px);
}

/* =========================
   FOOTER BOTTOM
========================= */

.footer-bottom {

    border-top: 1px solid rgba(255,255,255,0.1);

    text-align: center;

    padding: 5px;

    color: #c7c7c7;
}
/* =========================
   TABLET RESPONSIVE
========================= */

@media (max-width: 992px) {

    .footer-container {

        grid-template-columns: repeat(2, 1fr);
    }
}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width: 768px) {

    .footer-container {

        grid-template-columns: 1fr;

        gap: 40px;
    }

    .footer-column {

        text-align: center;
    }

    .social-icons {

        justify-content: center;
    }
}

