body{
    margin: 0;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a1f44;
    padding: 15px 30px;
    color: white;

    /*Sticky logic*/
    position: absolute;
    top: 0;
    width: 90%;
    background: transparent;
    z-index: 1000;


}
.logo{
    font-size: 10px;
    font-weight: bold;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    
    
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-links a:hover{
    color: #00bfff;
}
.hero{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /* color: white; */
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 31, 68, 0.6);
}
.hero-content{
    position: relative;
    z-index: 2;
}
.hero-content h1{
    font-size: 50px;
    margin-bottom: 15px;
}
.hero-content h4{
    font-size: 30px;
    margin-bottom: 30px;
}
.hero-buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.btn{
    padding: 12px 20px;
    background-color:#0a1f44;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
}